.section-best {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../../image/background/best-bg.jpg') center center no-repeat;
  background-size: cover;
	position: relative;
}

.best-list {
	display: flex;
	margin-top: rem(50px);

	@include phones-medium {
		flex-direction: column;
		margin-top: rem(20px);
	}
}

.best-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 33.33333%;
	padding: 0 rem(15px);
	text-align: center;

	@include tablets {
		padding: 0 rem(10px);
	}

	@include phones-medium {
		width: 100%;
		flex-direction: row;
		padding: 0;
		margin-bottom: rem(25px);	
	}
}

.best-icon {
	@include phones-medium {
		height: 90px;
		margin-right: rem(15px);
	}
}

.best-icon__pic {
	width: 90%;
	height: rem(100px);
	margin-bottom: rem(20px);
	
	svg {
    max-width: 100%;
	}
	
	@include phones-medium {
		margin-bottom: 0;
		width: 70px;
		height: 60px;
		
	}
}

.best-text {
	@include phones-medium {
		text-align: left;
	}
}

.best-title {
	font-family: 'Lifehack Medium', 'Arial Narrow', sans-serif;
	font-size: rem(24px);
	margin-bottom: rem(20px);
	color: #2f3234;
	
	span {
		display: block;
		margin-top: -10px;
	}

	@include phones-medium {
		margin-bottom: rem(7px);
	}

	@include phones {
		font-size: rem(20px);
		
	}
}

.best-descr {
	font-family: 'Ubuntu Regular', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #797979;

	@include phones {
		font-size: rem(13px);

	}
}