.section-menu {
	background: url('../../image/background/menu-bg.jpg') center center no-repeat;
  background-size: cover;
	position: relative;
}

.menu-title {
	position: absolute;
	top: 10%;
	left: 10%;
}

.menu-list {
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	
}

.menu-item {
	height: 100%;
	display: flex;
}

.menu-trigger {
	position: relative;
	display: block;	
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: rem(80px);
	height: 100%;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		.menu-trigger__title {
			transition: all .3s;
			color: #f9b43b;
		}
	}

	@include phones {
		width: 64px;
	}
}

.menu-trigger__title {
	position: absolute;
	font-family: 'Gagalin Regular', Helvetica, sans-serif;
	font-size: rem(40px);
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
  left: 50%;
	top: 100%;
	margin-top: rem(-40px);
  transform: rotate(-90deg) translateY(-50%);
	transform-origin: 0 0;
	
	@include phones {
		font-size: 36px;
	}
}

.menu-item__content {
	height: 100%;
	width: 0;
	flex: 1;
	background: rgba(#2f3234, .93);
	overflow: hidden;
	transition: width .6s;
	transition-delay: .4s;
}

.menu-item__descr {
	position: relative;
	font-family: 'Ubuntu Light', Arial, sans-serif;
	font-size: rem(14px);
	line-height: 1.8;
	color: #ffffff;
	padding: rem(60px) rem(30px);
	width: 100%;  
	transition: opacity .3s;

	@include tablets {
		line-height: 1.6;
	}
}

.active-acc {
	.menu-trigger__title {
		color: #f9b43b;
	}
}

.menu-item__close {
	position: absolute;
	top: rem(25px);
	right: rem(25px);
	cursor: pointer;

	@include tablets {
		top: rem(30px);
		right: rem(30px);
	}
}