@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px


// ≥992px


// ≥768px


// ≥576px



/*==========  Mobile First  ==========*/

// ≤576px


// ≤768px


// ≤992px


// ≤1200px
